body{
  width: 100%
}
#leftside {
  background-color : #1D2435;
  color : white ;
  width: 30%;
  float : left;
}
#rightside 
{

  background-color:  whitesmoke;
  
  max-width: 60%;
  display: inline-block;
  
}